body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #ffff;

}
a{
   text-decoration: none; 
}
ol,ul{
    list-style: none;
}

.logo {
    color: #4D5AE5);
        font-family:"Raleway" sans=serif;
        font-size:18px;
        font-weight:700;
        line-height:1.17;
        letter-spacing:0.03em;
        text-transform:uppercase;
}

.logo-part {
    color: #2E2F42;
}

.nav-link {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus{
    color:#404BBF;
}

.addres {
    font-style: normal;
}

.addres-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2em;
}
.addres-link:hover,
.addres-link:focus{
    color:#404BBF;
}
.title{
    background: #2E2F42;
}
h1{
color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.button{
    border-radius: 4px;
        background:  #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.team {
    background: #F4F4FD;
}
.secondary{
    color: #2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}